/.github/**
/.vscode/**
/archived-databases/**
/built/**
/client-data/**
/data/**
/databases/**
/local-utils/**
/node_modules/**
/pokemon-showdown/**
/private-data/**
/roomlogs/**
/src/config.ts
/src/local-scripts/**
/web/**
*.js