/.github/**
/.vscode/**
/archived-databases/**
/built/**
/data/**
/databases/**
/local-utils/**
/node_modules/**
/pokemon-showdown/**
/private-data/**
/roomlogs/**
/src/config.ts
app.js
build.js
create-untracked-files.js
get-options.js
mocha.js
tempConfig.js